<div class="card">
  <div *ngFor="let pizza of (filterType === 'drink' ? isDrink(filteredPizzas) : isPizza(filteredPizzas))" class="card__pizza">
    <div class="image-box">
      <img class="image" src="{{ pizza.image }}" alt="Піца Маргарита">
    </div>
    <div class="box">
    <h2 class="card__title">{{pizza.name}}</h2>
    <p class="card__ingredients">{{pizza.ingredients}}</p>
    <div class="card__menu">
      <p class="price">{{pizza.price}} грн</p>
      <p class="weight">{{pizza.weight}}</p>
    </div>
  </div>
    <button [ngClass]="{'active': (isAddedForPizza(pizza) | async) }"
      class="card__button"
      (click)="addToBasket(pizza)"
    >
    {{(isAddedForPizza(pizza) | async) ? 'У кошику' : 'В кошик'}}
  </button>
  </div>
</div>
