<div class="right">
  <h1 class="right__name">Oleksandr Zaporozhets</h1>
  <div class="right__contacts">
    <h2 class="right__contacts-title">Contacts</h2>
    <div class="right__contacts-phone">
      <div class="right__image"></div>
      <img
        class="right__contacts-image"
        src="assets/icons/phone2.svg"
        alt="phone"
      >
      <a
        class="right__contacts-phone-link"
        href="tel:+38 093 116 27 88"
      >
        Phone
      </a>
    </div>
    <div class="right__contacts-phone">
      <img
        class="right__contacts-image"
        src="assets/icons/telegram.svg"
        alt="phone"
      />
      <a
        class="right__contacts-phone-link"
        href="tg://resolve?domain=<zipic>"
      >
        Telegram
      </a>
    </div>
    <div class="right__contacts-phone">
      <img
        class="right__contacts-image"
        src="assets/icons/linkedin.svg"
        alt="phone"
      />
      <a
        class="right__contacts-phone-link"
        href="https://www.linkedin.com/in/oleksandr-zaporozhets-2a4695267"
      >
        LinkedIn
      </a>
    </div>
    <div class="right__contacts-phone">
      <img
        class="right__contacts-image"
        src="assets/icons/github.svg"
        alt="phone"
      />
      <a
        class="right__contacts-phone-link"
        href="https:/github.com/zipic"
      >
        GitHub
      </a>
    </div>
  </div>
</div>
