<div class="my" *ngIf="(items$ | async)!.length > 0">
  <h2 class="my__title">Ваше замовлення:</h2>
  <div class="my__element" *ngFor="let pizza of items$ | async">
    <div class="delete">
    <p class="my__element-name">{{pizza.pizza.name}}</p>
    <button
      class="my__element-delete"
      (click)="handlerDeleteFromBasket(pizza)"
    >
      <img class="close" src="assets/icons/close.svg" alt="delete">
    </button>
    </div>
    <img class="my__element-img" src="{{pizza.pizza.image}}" alt="">
    <p class="my__element-ingredients">{{pizza.pizza.ingredients}}</p>
    <div class="add">
      <p class="my__element-price">{{pizza.pizza.price * pizza.count}} грн</p>
      <div class="buttons">
        <button class="my__button" (click)="handlerMinusElement(pizza)">-</button>
        <p class="buttons__count">{{pizza.count}}</p>
        <button class="my__button" (click)="handlerPlusElement(pizza)">+</button>
      </div>
    </div>
  </div>
  <div class="my__sum">
    <p class="my__sum-title">Сума замовлення:</p>
    <p class="my__sum-total">{{total$ | async}} грн</p>
  </div>
  <form class="my__form" action="">
      <input class="my__input" type="text" placeholder="ваше імя...">
      <input class="my__input" type="text" placeholder="ваш мобільний...">
      <div class="form__buttons">
        <button class="my__form-button">Доставка</button>
        <button class="my__form-button">Самовивіз</button>
      </div>
  </form>
</div>
<div class="empty" *ngIf="(items$ | async)!.length === 0">
  <img class="empty__img" src="assets/icons/basket.svg" alt="basket">
  <p class="empty__clear">Ваш кошик пустий</p>
</div>
