@media(max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: 80px;
    display: flex;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid grey;

    &__button {
      border: none;
      background: none;
      cursor: pointer;
    }

    &__pizza {
      width: 60px;
      height: 110px;
      border: none;
      background: none;
    }

    &__drink {
      width: 40px;
      height: 60px;
      border: none;
      background:none;
    }
  }
}

@media (min-width: 1000px) {
  .sidebar {
    width: 80px;
    height: 100%;
    display: flex;
    background: #000;
    border-right: 1px solid grey;
    flex-direction: column;
    position: fixed;
    top: 71px;

    &__button {
      border: none;
      background: none;
      cursor: pointer;
      gap: 50px;
    }

    &__pizza {
      width: 60px;
      height: 100px;
      border: none;
      background: none;
    }

    &__drink {
      width: 40px;
      height: 80px;
      border: none;
      background:none;
    }
  }
}
